.activity-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  border: 1px solid $color-grey-2;
  border-top: none;
  width: 100%;
  background-color: $color-primary-4;

  @media screen and (min-width: $screen-sm-min) {
    flex-direction: row;
    justify-content: space-between;
  }

  &__activity {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $screen-sm-min) {
      flex-direction: row;
    }

    &__icon {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      &--default {
        @extend .icon-user_selfie_ph;
      }
    }  

    &__name {
      order: -1;
      padding: 10px;
      @extend .p1;

      @media screen and (min-width: $screen-sm-min) {
        order: 1;
        padding-left: 50px;
      }
    }
  }

  &__time {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;

    @media screen and (min-width: $screen-sm-min) {
      align-items: flex-end;
      padding-top: 0;
    }

    p {
      @extend .p3;
    }
  }
}