.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(#000, 0.7);
  }

  &__popup {
    position: absolute;
    max-width: 90%;
    width: 400px;
    background-color: $color-primary-4;
    border-radius: 4px;
    //shadow

    &__header {
      padding: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      &__icon {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        &--default {
          @extend .icon-user_selfie_ph;
        }
      }
    }

    &__content {
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__selfie {
        height: 105px;
        width: 105px;
        position: relative;
        margin-top: 10px;
        margin-bottom: 20px;
        &__icon{
          @extend .icon-logo_circle;
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }

      &__checkmark {
        @extend .icon-receipt_confirmed;
      }

      &__name {
        margin-top: 20px;
        margin-bottom: 25px;
      }

      &__info {

      }

      &__timestamp {
        margin-top: 10px;
      }

      &__attributes {
        margin-top: 20px;
        border-top: 2px solid $color-grey-2;
        width: 100%;
        > * {
          margin: 20px 0;
        }
        &__title {
          @extend .p3;
        }
      }
    }
    &__close {
      @extend .icon-action_close_dark-ve;
      border: none;
      position: absolute;
      right: -25px;
      top: 0;
    }
  }
}