.selfie {
  width: 100%;
  height: 100%;
  &__img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    &--default {
      @extend .icon-user_selfie_ph;
    }
  }
}