$header-height: 60px;
.header {
  height: $header-height;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $color-16;
  border-bottom: 1px solid $color-18;

  &__logo {
    margin-left: 20px;
    @extend .icon-logo;
  }

  &__info {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__connect {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: $color-1a;
      height: $header-height; 
      padding-left: 20px;
      padding-right: 20px;

      @media screen and (min-width: $screen-sm-min) {
        padding-left: 15px;
        padding-right: 15px;
      }

      p {
        display: none;
        @extend .p3;

        @media screen and (min-width: $screen-sm-min) {
          display: block;
          padding-right: 10px;
        }
      }  
    }

    &__selfie {
      height: 42px;
      width: 42px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}