.navbar {
	width: 50px;
	background-color: $color-16;
  position: absolut;
  top: 0;
  bottom: 0;
  left: 0;

  @media screen and (min-width: $screen-sm-min) {
    width: 200px;
  }

	&__items {
		&__item {
      width: 100%;
      height: 42px;
			background-color: $color-grey-2;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      @media screen and (min-width: $screen-sm-min) {
        justify-content: flex-start;
        padding-left: 20px;
      }

			&__icon {
				&--activity {
					@extend .icon-activity;
				}
			}

			&__name {
				display: none;
        @extend .p3;

        @media screen and (min-width: $screen-sm-min) {
          display: block;
          padding-left: 15px;
        }
			}
		}
	}
}