.activity {
  margin-bottom: 40px;
  &__header {
    background-color: $color-grey-1;
    border: 1px solid $color-grey-2;
    padding: 10px 15px;
  }

  &__first-of-date {
    margin-top: 20px;
  }
}