.app {
  &__wrapper {
    display: flex;
    flex-direction: row;
  }

  &__content {
    padding: 0 30px;
    width: 100%;
  }
}

@import
  'styles/reset',
  'styles/break-points',
  'styles/yoti-variables',
  'styles/typography',
  'styles/sprite',
  'styles/common';

@import
  'routes/Activity/activity';

@import
  'components/Button/button',
  'components/Header/header',
  'components/Navbar/navbar',
  'components/ActivityCard/activity-card',
  'components/Popup/popup',
  'components/Selfie/selfie',
  'components/RouteHeader/route-header',
  'components/PageTitle/page-title';
