.app__wrapper {
  display: flex;
  flex-direction: row; }

.app__content {
  padding: 0 30px;
  width: 100%; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*****************************************************************/
/***************************COLORS********************************/
/*****************************************************************/
/*****************************************************************/
/***************************TYPOGRAPHY****************************/
/*****************************************************************/
/*****************************************************************/
/******************************LAYOUT*****************************/
/*****************************************************************/
/*****************************************************************/
/******************************Buttons*****************************/
/*****************************************************************/
/*****************************************************************/
/******************************Alerts*****************************/
/*****************************************************************/
/*****************************************************************/
/******************************Modal*****************************/
/*****************************************************************/
/*****************************************************************/
/******************************Progress*****************************/
/*****************************************************************/
/*****************************************************************/
/*******************************Code******************************/
/*****************************************************************/
/*****************************************************************/
/******************************Navbar*****************************/
/*****************************************************************/
/*****************************************************************/
/*******************************Forms*****************************/
/*****************************************************************/
/*****************************************************************/
/**********************DEPRECATED COLORS**************************/
/*****************************************************************/
/* PRIMARY */
/* NOTIFICATIONS */
/* GREY */
/* SECONDARY */
/*****************************************************************/
/***************************TYPOGRAPHY****************************/
/*****************************************************************/
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #333B40; }

h1 {
  line-height: 60px;
  font-weight: 500; }

h2 {
  line-height: 48px;
  font-weight: 500; }

h3 {
  line-height: 32px;
  font-weight: 500; }

h4 {
  line-height: 28px;
  font-weight: 500; }

h5 {
  line-height: 24px;
  font-weight: 500; }

h6 {
  line-height: 24px;
  font-weight: 500; }

p {
  line-height: 28px; }

p.p2 {
  line-height: 28px;
  color: #67717E; }

p.p3, .header__info__connect p, p.navbar__items__item__name, .activity-card__time p, p.popup__popup__content__attributes__title {
  line-height: 20px;
  font-size: 14px; }

.hint {
  line-height: 12px;
  font-size: 12px;
  font-style: italic;
  color: #67717E; }

.small {
  line-height: 12px;
  font-size: 12px;
  color: #67717E; }

a {
  line-height: 28px;
  font-weight: 500;
  color: #2D9FFF; }

a.seamless {
  color: inherit;
  text-decoration: inherit; }

.text-bold {
  font-weight: 600; }

.text-medium {
  font-weight: 500; }

.text-regular {
  font-weight: 400; }

.font-base-size {
  font-size: 16px; }

.dark-bg {
  color: #FFFFFF; }
  .dark-bg h1 {
    color: #DFDFDF; }
  .dark-bg h2 {
    color: #FFFFFF; }
  .dark-bg h3 {
    color: #FFFFFF; }
  .dark-bg h4 {
    color: #FFFFFF; }
  .dark-bg h5 {
    color: #FFFFFF; }
  .dark-bg h6 {
    color: #FFFFFF; }
  .dark-bg p {
    color: #FFFFFF; }
  .dark-bg p.p2 {
    color: #B6BFCB; }
  .dark-bg p.p3, .dark-bg .header__info__connect p, .header__info__connect .dark-bg p, .dark-bg p.navbar__items__item__name, .dark-bg .activity-card__time p, .activity-card__time .dark-bg p, .dark-bg p.popup__popup__content__attributes__title {
    color: #B6BFCB; }
  .dark-bg .hint {
    color: #FFFFFF; }

code {
  display: block;
  padding: 20px;
  margin: 0 0 20px; }

/**************************************************/
/****************Mobile Typography*****************/
/**************************************************/
@media (max-width: 991px) {
  h1 {
    font-size: 36px;
    line-height: 40px; }
  h2 {
    font-size: 32px;
    line-height: 36px; }
  h3 {
    font-size: 22px;
    line-height: 28px; }
  h4 {
    font-size: 18px;
    line-height: 24px; }
  h5 {
    font-size: 18px;
    line-height: 24px; }
  h6 {
    font-size: 18px;
    line-height: 24px; }
  p {
    line-height: 24px; }
  p.p2 {
    line-height: 24px; }
  a {
    line-height: 24px; } }

/**************************************************/
/********************Alignments********************/
/**************************************************/
@media (min-width: 768px) {
  .text-left-sm {
    text-align: left; }
  .text-right-sm {
    text-align: right; }
  .text-center-sm {
    text-align: center; } }

@media (min-width: 992px) {
  .text-left-md {
    text-align: left; }
  .text-right-md {
    text-align: right; }
  .text-center-md {
    text-align: center; } }

@media (min-width: 1200px) {
  .text-left-lg {
    text-align: left; }
  .text-right-lg {
    text-align: right; }
  .text-center-lg {
    text-align: center; } }

.icon-action-back-dark {
  background: url("svg/sprite.css-e93da542.svg") 56.92771% 91.98718% no-repeat;
  width: 20px;
  height: 20px; }

.icon-action_close_dark-ve, .popup__popup__close {
  background: url("svg/sprite.css-e93da542.svg") 30.23952% 80.25478% no-repeat;
  width: 18px;
  height: 18px; }

.icon-activity, .navbar__items__item__icon--activity {
  background: url("svg/sprite.css-e93da542.svg") 26.06061% 91.98718% no-repeat;
  width: 22px;
  height: 20px; }

.icon-activity_cross {
  background: url("svg/sprite.css-e93da542.svg") 58.47953% 75.15528% no-repeat;
  width: 10px;
  height: 10px; }

.icon-activity_tick {
  background: url("svg/sprite.css-e93da542.svg") 99.41349% 57.40741% no-repeat;
  width: 11px;
  height: 8px; }

.icon-add_friend {
  background: url("svg/sprite.css-e93da542.svg") 6.06061% 92.88026% no-repeat;
  width: 22px;
  height: 23px; }

.icon-alert {
  background: url("svg/sprite.css-e93da542.svg") 23.49398% 99.35897% no-repeat;
  width: 20px;
  height: 20px; }

.icon-alert-danger {
  background: url("svg/sprite.css-e93da542.svg") 49.66887% 71.63121% no-repeat;
  width: 50px;
  height: 50px; }

.icon-alert-info {
  background: url("svg/sprite.css-e93da542.svg") 33.11258% 71.63121% no-repeat;
  width: 50px;
  height: 50px; }

.icon-alert-success {
  background: url("svg/sprite.css-e93da542.svg") 16.55629% 71.63121% no-repeat;
  width: 50px;
  height: 50px; }

.icon-alert-warning {
  background: url("svg/sprite.css-e93da542.svg") 0 71.63121% no-repeat;
  width: 50px;
  height: 50px; }

.icon-applications {
  background: url("svg/sprite.css-e93da542.svg") 32.72727% 91.98718% no-repeat;
  width: 22px;
  height: 20px; }

.icon-billing {
  background: url("svg/sprite.css-e93da542.svg") 90% 56.96203% no-repeat;
  width: 22px;
  height: 16px; }

.icon-breadcrumb-separator {
  background: url("svg/sprite.css-e93da542.svg") 60.69364% 74.69136% no-repeat;
  width: 6px;
  height: 8px; }

.icon-color {
  background: url("svg/sprite.css-e93da542.svg") 9.78593% 81.81818% no-repeat;
  width: 25px;
  height: 24px; }

.icon-connect-off {
  background: url("svg/sprite.css-e93da542.svg") 94.78528% 48.07692% no-repeat;
  width: 26px;
  height: 20px; }

.icon-connect-on {
  background: url("svg/sprite.css-e93da542.svg") 61.96319% 57.69231% no-repeat;
  width: 26px;
  height: 20px; }

.icon-connections {
  background: url("svg/sprite.css-e93da542.svg") 19.39394% 92.28296% no-repeat;
  width: 22px;
  height: 21px; }

.icon-cost_close {
  background: url("svg/sprite.css-e93da542.svg") 99.68354% 68.24324% no-repeat;
  width: 36px;
  height: 36px; }

.icon-cost_open {
  background: url("svg/sprite.css-e93da542.svg") 88.29114% 68.24324% no-repeat;
  width: 36px;
  height: 36px; }

.icon-dashboard {
  background: url("svg/sprite.css-e93da542.svg") 24.39759% 80.25478% no-repeat;
  width: 20px;
  height: 18px; }

.icon-dismiss-dark {
  background: url("svg/sprite.css-e93da542.svg") 100% 47.61905% no-repeat;
  width: 17px;
  height: 17px; }

.icon-download {
  background: url("svg/sprite.css-e93da542.svg") 62.95181% 91.69329% no-repeat;
  width: 20px;
  height: 19px; }

.icon-dropdown {
  background: url("svg/sprite.css-e93da542.svg") 99.70588% 55.21472% no-repeat;
  width: 12px;
  height: 6px; }

.icon-info {
  background: url("svg/sprite.css-e93da542.svg") 44.87952% 91.98718% no-repeat;
  width: 20px;
  height: 20px; }

.icon-logo, .header__logo {
  background: url("svg/sprite.css-e93da542.svg") 71.12676% 49.66887% no-repeat;
  width: 68px;
  height: 30px; }

.icon-logo_circle, .popup__popup__content__selfie__icon {
  background: url("svg/sprite.css-e93da542.svg") 76.67732% 68.94198% no-repeat;
  width: 39px;
  height: 39px; }

.icon-menu {
  background: url("svg/sprite.css-e93da542.svg") 96.08434% 56.60377% no-repeat;
  width: 20px;
  height: 14px; }

.icon-menu_dropdown_closed {
  background: url("svg/sprite.css-e93da542.svg") 97.94118% 52.14724% no-repeat;
  width: 12px;
  height: 6px; }

.icon-menu_dropdown_open {
  background: url("svg/sprite.css-e93da542.svg") 90.88235% 52.14724% no-repeat;
  width: 12px;
  height: 6px; }

.icon-menu_section_highlight {
  background: url("svg/sprite.css-e93da542.svg") 99.13793% 51.82927% no-repeat;
  width: 4px;
  height: 4px; }

.icon-messages {
  background: url("svg/sprite.css-e93da542.svg") 12.72727% 92.58065% no-repeat;
  width: 22px;
  height: 22px; }

.icon-pages {
  background: url("svg/sprite.css-e93da542.svg") 0 92.88026% no-repeat;
  width: 20px;
  height: 23px; }

.icon-read {
  background: url("svg/sprite.css-e93da542.svg") 17.37805% 80.25478% no-repeat;
  width: 24px;
  height: 18px; }

.icon-receipt_confirmed, .popup__popup__content__checkmark {
  background: url("svg/sprite.css-e93da542.svg") 86.26198% 49.50495% no-repeat;
  width: 39px;
  height: 29px; }

.icon-reload {
  background: url("svg/sprite.css-e93da542.svg") 0 84.84848% no-repeat;
  width: 32px;
  height: 35px; }

.icon-reports {
  background: url("svg/sprite.css-e93da542.svg") 12.31231% 100% no-repeat;
  width: 19px;
  height: 22px; }

.icon-sdk-documentation {
  background: url("svg/sprite.css-e93da542.svg") 17.96407% 99.35897% no-repeat;
  width: 18px;
  height: 20px; }

.icon-sdk-download {
  background: url("svg/sprite.css-e93da542.svg") 35.52239% 79.74684% no-repeat;
  width: 17px;
  height: 16px; }

.icon-sdk_documentation {
  background: url("svg/sprite.css-e93da542.svg") 6.60661% 100% no-repeat;
  width: 19px;
  height: 22px; }

.icon-search {
  background: url("svg/sprite.css-e93da542.svg") 39.03904% 91.98718% no-repeat;
  width: 19px;
  height: 20px; }

.icon-setting {
  background: url("svg/sprite.css-e93da542.svg") 0 100% no-repeat;
  width: 22px;
  height: 22px; }

.icon-sort {
  background: url("svg/sprite.css-e93da542.svg") 94.41176% 52.14724% no-repeat;
  width: 12px;
  height: 6px; }

.icon-steps_tick {
  background: url("svg/sprite.css-e93da542.svg") 76.59574% 56.96203% no-repeat;
  width: 23px;
  height: 16px; }

.icon-support {
  background: url("svg/sprite.css-e93da542.svg") 50.90361% 91.98718% no-repeat;
  width: 20px;
  height: 20px; }

.icon-upload_logo {
  background: url("svg/sprite.css-e93da542.svg") 83.33333% 56.96203% no-repeat;
  width: 22px;
  height: 16px; }

.icon-user_selfie_ph, .activity-card__activity__icon--default, .popup__popup__header__icon--default, .selfie__img--default {
  background: url("svg/sprite.css-e93da542.svg") 64.10256% 69.17808% no-repeat;
  width: 40px;
  height: 40px; }

.icon-user_selfie_ph_large {
  background: url("svg/sprite.css-e93da542.svg") 0 0 no-repeat;
  width: 202px;
  height: 202px; }

.icon-user_selfie_ph_medium {
  background: url("svg/sprite.css-e93da542.svg") 100% 0 no-repeat;
  width: 150px;
  height: 150px; }

.icon-users {
  background: url("svg/sprite.css-e93da542.svg") 69.5122% 57.14286% no-repeat;
  width: 24px;
  height: 17px; }

body * {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; }

body {
  background-color: #FFFFFF; }

.activity {
  margin-bottom: 40px; }
  .activity__header {
    background-color: #F5F5F5;
    border: 1px solid #EAEAEA;
    padding: 10px 15px; }
  .activity__first-of-date {
    margin-top: 20px; }

.button {
  background-color: pink;
  border: none;
  padding: 15px 10px; }
  .button__title {
    color: white;
    font-size: 2em; }

.header {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #F5F5F5;
  border-bottom: 1px solid #e7e7e7; }
  .header__logo {
    margin-left: 20px; }
  .header__info {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .header__info__connect {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #D5ECFF;
      height: 60px;
      padding-left: 20px;
      padding-right: 20px; }
      @media screen and (min-width: 768px) {
        .header__info__connect {
          padding-left: 15px;
          padding-right: 15px; } }
      .header__info__connect p {
        display: none; }
        @media screen and (min-width: 768px) {
          .header__info__connect p {
            display: block;
            padding-right: 10px; } }
    .header__info__selfie {
      height: 42px;
      width: 42px;
      margin-left: 20px;
      margin-right: 20px; }

.navbar {
  width: 50px;
  background-color: #F5F5F5;
  position: absolut;
  top: 0;
  bottom: 0;
  left: 0; }
  @media screen and (min-width: 768px) {
    .navbar {
      width: 200px; } }
  .navbar__items__item {
    width: 100%;
    height: 42px;
    background-color: #EAEAEA;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    @media screen and (min-width: 768px) {
      .navbar__items__item {
        justify-content: flex-start;
        padding-left: 20px; } }
    .navbar__items__item__name {
      display: none; }
      @media screen and (min-width: 768px) {
        .navbar__items__item__name {
          display: block;
          padding-left: 15px; } }

.activity-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  border: 1px solid #EAEAEA;
  border-top: none;
  width: 100%;
  background-color: #FFFFFF; }
  @media screen and (min-width: 768px) {
    .activity-card {
      flex-direction: row;
      justify-content: space-between; } }
  .activity-card__activity {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (min-width: 768px) {
      .activity-card__activity {
        flex-direction: row; } }
    .activity-card__activity__icon {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center; }
    .activity-card__activity__name {
      order: -1;
      padding: 10px; }
      @media screen and (min-width: 768px) {
        .activity-card__activity__name {
          order: 1;
          padding-left: 50px; } }
  .activity-card__time {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px; }
    @media screen and (min-width: 768px) {
      .activity-card__time {
        align-items: flex-end;
        padding-top: 0; } }

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .popup__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7); }
  .popup__popup {
    position: absolute;
    max-width: 90%;
    width: 400px;
    background-color: #FFFFFF;
    border-radius: 4px; }
    .popup__popup__header {
      padding: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .popup__popup__header__icon {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 70px;
        height: 70px;
        border-radius: 50%; }
    .popup__popup__content {
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .popup__popup__content__selfie {
        height: 105px;
        width: 105px;
        position: relative;
        margin-top: 10px;
        margin-bottom: 20px; }
        .popup__popup__content__selfie__icon {
          position: absolute;
          right: 0;
          bottom: 0; }
      .popup__popup__content__name {
        margin-top: 20px;
        margin-bottom: 25px; }
      .popup__popup__content__timestamp {
        margin-top: 10px; }
      .popup__popup__content__attributes {
        margin-top: 20px;
        border-top: 2px solid #EAEAEA;
        width: 100%; }
        .popup__popup__content__attributes > * {
          margin: 20px 0; }
    .popup__popup__close {
      border: none;
      position: absolute;
      right: -25px;
      top: 0; }

.selfie {
  width: 100%;
  height: 100%; }
  .selfie__img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
    width: 100%;
    border-radius: 50%; }

.route-header {
  padding: 15px 0;
  border-bottom: 1px solid #EAEAEA; }
  .route-header h6 {
    font-size: 16px; }

.page-title {
  padding-top: 15px; }
  .page-title h5 {
    font-size: 18px; }
